.row {
    padding: 10px;
    color: #fff;
    flex: auto;
}

.col {
    min-width: 300px;
    width: 25%;
    max-width: 100%;
}

.btnRow {
    justify-content: center;
}

.initialWrapper {
    background-color: #005587;
}
