.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "left right right right" "left right right right" "left right right right";
    border: 1px solid #000;
    border-radius: 20px;
    width: 600px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    overflow: hidden;
    text-align: left;
}

.left {
    grid-area: left;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-gap: 5px;
    grid-template-areas: "header" "photo" "sign";
    text-align: center;
}

.header { grid-area: header; }

.l-photo {
    grid-area: photo;
    object-fit: cover;
}

.sign {
    grid-area: sign;
    height: 100%;
}

.sign img {
    height: 40px;
}

.right {
    grid-area: right;
    grid-template-areas: "r-header" "r-mid" "r-bot";
    margin: 5px 5px 5px 10px;
}

.r-header {
    grid-area: r-header;
    text-align: center;
}

.r-mid { grid-area: r-mid;}

.rmid span{
}

.r-bot {
    display: grid;
    grid-area: r-bot;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "text photo" "text photo";
}

.text { grid-area: text; }

.r-photo { grid-area: photo; }
